extends layout
include mixins

block content
  #index
    #feed
      h3=search
      each request in requests
        +request(request.title, request.author, request.time, request.distance,
                 request.content, request.current, request.total)
    div
      a(href='/request') Make a request
