extends layout
include mixins

block content
  h3= search
  #feed
    each request in requests
        +request(request.title, request. author, request.time, request.distance,
                 request.content, request.current, request.total)
