doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      a(href='/')
        h1 Samaritan
      input(type='text')
      a(href='users')
        img(src='images/profile.png')
    #content
      block content
