doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    #header
      a(href='/')
        h1 Samaritan
      form(method='get' action='/')
        input(type='text' name='location' )
        input(type='submit' value='Find Requests')
      a(href='users')
        img(src='images/profile.png')
    #content
      block content
